# Generated
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json
CLAUDE.md
AGENTS.md

# Ignore repository directories
boilersync-cli/
boilersync-cli
boilersync-desktop/
boilersync-desktop
boilersync-skills/
boilersync-skills
